---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import SectionLayout from './SectionLayout.astro'
import '../style/main.css'

interface Props {
  title: string
  description: string
  image?: string
  author?: string
  simpleHeader?: boolean
}

// Props
const { title, description, image, author, simpleHeader = false } = Astro.props

// Site Navigation
const navigationList = [
  'F.A.Qs',
  'Home',
  'Introduction',
  'Showcase',
  'Services',
  'Testimonials',
  'Gallery',
]
---

<!doctype html>
<html
  lang="en"
  class="bg-sky-950">
  <BaseHead
    {title}
    {description}
    {image}
    {author}
  />
  <body
    class="gap-12 relative"
    x-data="{scrollHeader: false,lastScroll: 0,scrollUp: false,activeLink: ''}"
    @scroll.window.throttle.10=`
scrollHeader = scrollUp && window.pageYOffset < document.body.scrollHeight - window.innerHeight
scrollUp = window.pageYOffset> window.innerHeight/2 && window.pageYOffset < lastScroll
      lastScroll = window.pageYOffset
    `>
    <Header links={navigationList} />
    <div>
      <main
        class="relative h-full w-full min-h-screen shadow-lg shadow-black/30">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
